.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loginBox{
  border: 2px black solid;
}


/* css for AdminPanel.js*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

body{
    background: #f2f2f2;
    font-family: 'Josefin Sans', sans-serif;
}

h3{
     font-family: 'Josefin Sans', sans-serif;
}

/* navBar */

#thoughtArchivesNav{
  display:inline-block;margin-right:10px;;
}
#incomingRequestsNav{
  display:inline-block;
}
#createNewNav{
  display:inline-block;
}
#yourCommunityNav{
  display:inline-block;
}


.expand {
  animation: expand-animation;
  width: 100%;
  height: 100%;
}


@keyframes expand-animation {
  from {
    transform: scaleX(2);
  }
  to {
    transform: scaleX(2);
  }
}
/* need to figure out how to make sure the element is not being overridden by another css input.   */

.hidee{
  visibility: hidden;
}

.box{
    padding:60px 0px;
}

.card-img-top {
  height: 100px;
    width: 30%;
}

.box-part{
    background:#FFF;
    border-radius:10px;
    padding:60px 10px;
    margin:30px 0px;
}

.box-part:hover{
    background:#4183D7;
}

.box-part:hover .fa ,
.box-part:hover .title ,
.box-part:hover .text ,
.box-part:hover a{
    color:#FFF;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}

/* end css for adminPanel.js*/


.thoughtBox{
  cursor: pointer;
  border: 1px black solid;
  background-color: lightgray;
  margin: 5px;
}
