.create-thought {
  background-color: white;
  height: 100%;
  padding-top: 20px;
}

#description-input {
  max-width: 500px;
  min-width: 500px;
  height: 150px;
  min-height: 150px;
  margin-bottom: 20px;
  padding: 20px 0 0 20px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  outline: none;
}

#error-text {
  color: red;
}

#left-container {
  width: 50%;
  float: left;
}

#record-button {
  background-color: white;
  width: 150px;
  height: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  line-height: 40px;
  margin-bottom: 20px;
  outline: none;
}

#record-button:hover:enabled {
  background-color: lightblue;
}

#record-camera {
  background: black;
  border-radius: 4px;
  height: 250px;
  margin: 30px auto;
  width: 500px;
}

#right-container {
  margin-left: 50%;
}

#select-input {
  position: absolute;
  width : 500px;
  height: 50px;
  margin-left: 35px;
}

#side-container {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}

#title-input {
  width: 500px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  outline: none;
}

#video-playback {
  padding-right: 20px;
  margin-bottom: 20px;
}
