.reply-record-button {
  background-color: white;
  width: 150px;
  height: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}

.reply-record-button:hover:enabled {
  background-color: lightblue;
}
