.email-list {
  height: 200px;
  margin-top: 20px;
  padding: 0px;
  overflow-y: scroll;
  border: 1px solid #EEEEEE;
}

.email-item-box {
  background: #DFDFDF;
  text-align: left;
  height: 50px;
  width: 100%;
  padding: 0 50px 0 50px;
  line-height: 50px;
}

.email-item-box:nth-child(odd) {
  background: #F0F0F0;
}

#group-placeholder {
  height: 50px;
  font-size: 18px;
  text-align: center;
  color: lightgray;
  margin-top: 20px;
  border: 1px solid #EEEEEE;
  line-height: 50px;
}
