.dropdown {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
}

#settings-button {
  font-size: 24px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 20px;
}
